@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the awsome IronMan builder !</h1>
    </div>
    <hr/>
    <ul>
        <li>
            You can start your robot builder by clicking <a href="">Build robot</a> from the header. Doooh !
        </li>
        <li>
            You can manage images by clicking <a href="">Manage images</a> from the header. Doooh !
        </li>
    </ul>
    <!-- <p></p>
    <p>You can start your robot builder by clicking <a href="">Build robot</a> from the header</p> -->

