@{
    ViewData["Title"] = "Manage";
}

    <style>
        
        .robot div.row div{
            
            border: 3px solid white;
            height: 100px; /* must sync this with classes "height-2" and "height-4"*/
            text-align: center;
            font-size: 12px;
        }
        div.height-quarter{
            height: 30px !important;
        }
        div.height-2{
            height: 200px !important;
        }
        div.height-4{
            height: 400px !important;
        }
        div.space{
            background-color: lightgray;
        }
        div.component{
            background-color: greenyellow;
        }
    </style>

    <div id="actions">
        <input type="radio" name="grid-type" value="grid" checked />&nbsp; Detailed view
        &nbsp;&nbsp;&nbsp;
        <input type="radio" name="grid-type" value="real" />&nbsp; Simple view
    </div>

    <div class="container-fluid robot" style="width: 700px;">
        <div class="row">
            <div class="col-sm-5 space">space <span>(5 * 1)</span></div>
            <div class="col-sm-2 component">Head <span>(2*1)</span></div>
            <div class="col-sm-5 space">space <span>(5 * 1)</<span></div>
        </div>
        <div class="row">
            <div class="col-sm-12 space height-quarter">space <span>(12 * 1)</span></div>
        </div>
        <div class="row">
            <div class="col-sm-2 component height-2">Left arm <span>(2 * 2)</span></div>
            <div class="col-sm-2 space height-4">space <span>(2 * 4)</span></div>

            <div class="col-sm-4 component height-4">Torso <span>(4 * 4)</span></div>

            <div class="col-sm-2 space height-4">space <span>(2 * 4)</span></div>
            <div class="col-sm-2 component height-2">Right arm <span>(2 * 2)</span></div>

        </div>
        <div class="row">
            <div class="col-sm-12 space height-quarter">space <span>(12 * 1)</span></div>
        </div>
        <div class="row">
            <div class="col-sm-2 space height-2">space <span>(2 * 2)</span></div>
            <div class="col-sm-2 component height-2">Left leg <span>(2 * 2)</span></div>

            <div class="col-sm-4 space height-2">space <span>(4 * 2)</span></div>

            <div class="col-sm-2 component height-2">right leg <span>(2 * 2)</span></div>
            <div class="col-sm-2 space height-2">space <span>(2 * 2)</span></div>

        </div>
    </div>

<script type="text/javascript">
    $(document).ready(() => {
        
        $('input[name="grid-type"]').click(() => {
            var viewType = $('input[name="grid-type"]:checked').val();
            console.log('view type', viewType);

            changeViewType(viewType);
        });

    });

    function changeViewType(viewType){
        
        console.log('change view type to', viewType);
        
        if (viewType == 'real' ){

            //change all divs with class "space" to have class "whiteSpace" instead
            $('.robot div.row div.space').removeClass('space').addClass('whiteSpace'); //check that 'whiteSpace' class does not exists

            //remove grid definitions
            $('.robot div.row div span').hide();
            //remove "space" text
            $('.robot div.row div.whiteSpace').text('');
        }
        else if (viewType == 'grid' ){
            

            //change all divs with class "space" to have class "whiteSpace" instead
            $('.robot div.row div.whiteSpace').removeClass('whiteSpace').addClass('space');
            
            //remove grid definitions
            $('.robot div.row div span').show();
            //remove "space" text
            $('.robot div.row div.space').text('space');
        }
    };
</script>